<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand fw-bold" routerLink="/">MyApp</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav ms-auto"> <!-- ms-auto: margin-start auto -->
                <!--navbar-nav: acts as navbar element and not list-->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/parent">Parent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pipes">Pipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reactive-form">Reactive Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/table">Table</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>